/* src/CodeEditor.css */

.code-area,
.input-area,
.output-area {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.code-area {
    border: 1px solid #ccc;
}

.input-area {
    border: 1px solid #007bff;
    border-color: #007bff;
}

.output-area {
    border: 1px solid #28a745;
}

.code-area:focus,
.input-area:focus,
.output-area:focus {
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

h1 {
    font-size: 2rem;
}
.editor-container {
    /* border: 2px solid #007bff;  */
    border :2px solid black;
    border-radius: 5px; 
    /* background-color: #000;  */
   
    padding: 10px; 
  }
  
  .editor-container .monaco-editor {
    height: 100% !important; }
  
 
  textarea.form-control {
    
    border-radius: 5px;
    background-color: #f1f1f1;
    /* background-color: red; */
  }
  .custom-button {
    background-color: #000; /* Black background */
  color: #fff; /* White text color */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the button */
  font-size: 16px; /* Font size */
  font-family: Arial, sans-serif; /* Font family */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.5s ease
  }
  .custom-button:hover{
    background-color: #000;
    transform: scale(1.05);
  }

 .custom-button:active {
   
    background-color: hsl(0deg 0% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(0 0 0) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 100ms;
  }