@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Matemasie&family=Moderustic:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;    
}

/* Styling for the list item container */
.list-group-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .custom-buttons {
    background-color: #7d2ae8; /* Custom background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Border radius for a rounded look */
    padding: 8px 12px; /* Padding inside the button */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  .custom-buttons:hover{
    background-color: #7d2ae8;
    transform: scale(1.01);
  }
  @media (min-width: 576px) {
    .custom-buttons{
      flex: 1; /* Make buttons take up equal width on larger screens */
    }
  }
  